#H {
    margin: 0;
    background-image:url("sa.png");

}

#hat {
    background-color:#387BCC; 
    padding: 10px; 
    height:auto;
    line-height: 260%;
    width: 100%;
    margin: 0;
}

#logo {
    float:left;
    margin:10px;
    width:100px;
    height:100px;
}

#d {
    font-size: 15pt;
    padding:50px;
    color: #F3CDF6;
}

#menu {
    text-align: center;
    height: auto;
    width: 100%;
    font-weight: 960px;
    line-height: 260%;
    background-color: rgba(0, 120, 201, 0.5);
    font-size: 20pt;
    font-family:Impact, Haettenschweiler;
}

#s1 {
    color: lawngreen;
}

#s2 {
    color: lawngreen;
}

#s3 {
    color: lawngreen;
}

#spisok {
    width: auto;
    height: auto;
    color: lawngreen;
    background-color: rgba(0, 120, 201, 0.5);
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


ol a {
    color: lawngreen;
}

#form {
    height: auto;
    width: 100%;
    background-color: rgba(0, 120, 201, 0.5);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input {
    background-color: #F3CDF6;
}

textarea {
    background-color: #F3CDF6;
}

select {
    background-color: #F3CDF6;
}

#table {
    text-align: center;
    width: 100%;
    color: #F3CDF6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ch{
    background-color: #387BCC;
}

.nch{
    background-color: lawngreen;
    color: #387BCC;
}

.ground {
    width:100%; 
    background-color:#387BCC; 
    padding: 10px; 
    height:auto;
    line-height: 260%;
    color: #F3CDF6;
    order: 1;
}

@media screen and (min-width: 800px) {
    #menu {
        text-align: center;
        height: auto;
        width: 60%;
        font-weight: 960px;
        line-height: 260%;
        background-color: rgba(0, 120, 201, 0.5);
        font-size: 20pt;
        font-family:Impact, Haettenschweiler;
    }
    
    #spisok {
        width: 100%;
        height: auto;
        color: lawngreen;
        background-color: rgba(0, 120, 201, 0.5);
        list-style-type: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    #c{
        width: 50%;
    }
    
    #form {
        height: auto;
        width: 100%;
        background-color: rgba(0, 120, 201, 0.5);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    #table {
        text-align: center;
        width: 100%;
        color: #F3CDF6;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}

