#H {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    margin: 0;
    background-image:url("sa.png");

}

#hat {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width:auto; 
    background-color:#387BCC; 
    padding: 10px; 
    height:auto;
    line-height: 260%;
    order: 0;
}

#logo {
    float:left;
    margin:10px;
    width:100px;
    height:100px;
}

#d {
    font-size: 15pt;
    padding:50px;
    color: #F3CDF6;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items:center;
    height: auto;
    width: auto;
    font-weight: 960px;
    line-height: 260%;
    order: 0;
    background-color: rgba(0, 120, 201, 0.5);
}

#s1 {
    color: lawngreen;
}

#s2 {
    color: lawngreen;
}

#s3 {
    color: lawngreen;
}

#spisok {
    width: auto;
    height: auto;
    color: lawngreen;
    order: 0;
    background-color: rgba(0, 120, 201, 0.5);
}


ol a {
    color: lawngreen;
}

#form {
    height: auto;
    width: auto;
    order: 0;
    background-color: rgba(0, 120, 201, 0.5);
}

input {
    background-color: #F3CDF6;
}

textarea {
    background-color: #F3CDF6;
}

select {
    background-color: #F3CDF6;
}

#table {
    text-align: center;
    width: auto;
    color: #F3CDF6;
    order: 1;
}

.ch{
    background-color: #387BCC;
}

.nch{
    background-color: lawngreen;
    color: #387BCC;
}

.ground {
    width:auto; 
    background-color:#387BCC; 
    padding: 10px; 
    height:50px;
    line-height: 260%;
    color: #F3CDF6;
    order: 1;
}

@media screen and (min-width: 1000px) {
    #H {
        margin: 0;
        background-image:url("sa.png");
    }
    
    #hat {
        width:100%; 
        background-color:#387BCC; 
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        padding: 10px; 
        height:120px;
        line-height: 260%;
    }
    
    #logo {
        float:left;
        margin:10px;
        width:100px;
        height:100px;
        margin-left: 24.2%;
    }
    
    #d {
        font-size: 15pt;
        padding:50px;
        color: #F3CDF6;
    }
    
    #menu {
        flex-direction: row;
        justify-content:space-around;
        margin: 15px;
        height: 50px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        font-weight: 960px;
        line-height: 260%;
    }
    
    #s1 {
        color: lawngreen;
    }
    
    #s2 {
        color: lawngreen;
    }
    
    #s3 {
        color: lawngreen;
    }
    
    #spisok {
        margin: 15px;
        width: 46.8%;
        height: auto;
        color: lawngreen;
        margin-left: auto;
        margin-right: auto;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    ol a {
        color: lawngreen;
    }
    
    #form {
        margin: 15px;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: 50%;
        order: 0;
    }
    
    input {
        background-color: #F3CDF6;
    }
    
    textarea {
        background-color: #F3CDF6;
    }
    
    select {
        background-color: #F3CDF6;
    }
    
    #table {
        order: 0;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        color: #F3CDF6;
    }
    
    .ch{
        background-color: #387BCC;
    }
    
    .nch{
        background-color: lawngreen;
        color: #387BCC;
    }
    
    .ground {
        width:100%; 
        background-color:#387BCC; 
        padding: 10px; 
        height:50px;
        line-height: 260%;
        color: #F3CDF6
    }
  }
